.home {
    background-color: var(--color-background);
    display: flex;
    padding-top: 20px;
    margin-top: 70px;
}

.avatar {
    align-content: center;
}

.home-middle {
    margin: 0px 20px;
}